:root {
    --link-color: #a9f6c1; 
    --link-hover-color: #f3eef5; 
    --dgreen: #2a5e39;
    --sgreen: #3e8b56;
    --txtclr: #0d0a0b;
  }
  
  /* General Styling */
  body {
    font-family: Courier, monospace;
    background-color: var(--dgreen); /* dark background */
    color: var(--txtblr); /* light text */
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
  
  /* Header */
  header {
    background: var(--dgreen); /* slightly darker */
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    color: var(--txtclr); /* light text */
  }
  
  /* Navigation */
  nav {
    background: var(--sgreen);
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  /* nav links using variables */
  nav ul li a {
    color: var(--txtclr);
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: var(--link-hover-color);
  }
  
  /* Sections */
  section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: var(--sgreen);
    border-radius: 10px;
  }
  
  /* Footer */
  footer {
    text-align: center;
    padding: 20px;
    background: var(--dgreen);
    margin-top: auto;
    color: var(--txtclr);
  }
  